<p id="notice"><%= notice %></p>

<h1>Listing Registration Numbers</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Name</th>
      <th>Office</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registration_numbers.each do |registration_number| %>
      <tr>
        <td><%= registration_number.state.name %></td>
        <td><%= registration_number.name %></td>
        <td><%= registration_number.office %></td>
        <td><%= link_to 'Show', registration_number %></td>
        <td><%= link_to 'Edit', edit_registration_number_path(registration_number) %></td>
        <td><%= link_to 'Destroy', registration_number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration number', new_registration_number_path %>
